<p id="notice"><%= notice %></p>

<p id="test">
  <strong>Description:</strong>
  <p><%= @todo_item.description %></p>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
