/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#test {
  color: blue;
}

.btn {
  color: white;
}

.jumbotron h1 {
  padding-left: 1em;
}

.jumbotron p {
  padding-left: 5em;
}

.table{
  padding-left: 1 em;
  padding-right: 1 em;
}

.link {
  padding-left: 1em;
}
